<!-- Navbar -->
<nav class="navbar navbar-expand navbar-light">
  <div class="container">
    <div class="row">
      <div class="col text-right">
        <p>
          <span style="font-size: 14px;">
            <a href="#" style="color:chocolate">HỆ THỐNG CỬA HÀNG</a>
          </span>
        </p>
        <p>
          <span style="font-size: 14px;">
            <a href="#" style="color: chocolate">VỀ PUN'S HOUSE</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class="content-header">
  <div class="input-group search">
    <input type="text" class="form-control" name="q" placeholder="Tìm kiếm sản phẩm" style="border: none;">
      <span class="input-group-btn">
        <button class="btn btn-pink" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
  <div>
    <!-- User Account Menu -->
    <app-user-profile></app-user-profile>
  </div>
</div>
<nav class="navbar navbar-expand navbar-light">
  <!-- Left navbar links -->
  <div class="container">
    <ul class="nav navbar-nav">
      <li *ngFor="let category of categoryList" class="nav-item" style="display: block">
        <a class="nav-link font-weight-bolder" href="#" role="button">{{category.name}}</a>
      </li>
    </ul>
  </div>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    
  </ul>
</nav>
<!-- /.navbar -->
