<div class="lzd-playground">
  <div class="lzd-playground-main">
    <div class="lzd-playground-right">
      <div class="breadcrumb">
        <a class="first">Đơn hàng của tôi</a>
      </div>
      <div id="container" class="container">
        <div>
          <div class="order-list">
            <div class="order-list-tabs">
            <span name="all" class="order-tab-item " id="all"
                  (click)="loadOrders(0)">Tất cả</span>
              <span class="order-tab-item" name="toConfirm" id="toConfirm"
                    (click)="loadOrders(1)">Chờ xác nhận</span>
              <span class="order-tab-item" name="confirmed" id="confirmed"
                    (click)="loadOrders(2)">Đã xác nhận</span>
              <span class="order-tab-item" name="delivering" id="delivering"
                    (click)="loadOrders(3)">Đang giao</span>
              <span class="order-tab-item" name="finished" id="finished"
                    (click)="loadOrders(4)">Đã hoàn thành</span>
              <span class="order-tab-item" name="canceled" id="canceled"
                    (click)="loadOrders(5)">Đã huỷ</span>
            </div>
            <div *ngIf="collection.length === 0 || collection == null">
              <div class="order-no-data">
                <div class="order-no-data-text">Bạn vẫn chưa có đơn đặt hàng nào</div>
                <div class="order-no-data-btn">
                  <a class="order-no-data-btn-text" routerLink="/trang-chu" style="background-color: transparent;text-decoration: none;
                                cursor: pointer;">TIẾP TỤC MUA SẢN PHẨM</a>
                </div>
              </div>
            </div>
            <div *ngIf="collection.length !== 0 && collection != null">
              <div class="orders">
                <div tag="order-component" *ngFor="let order of collection">
                  <div  class="shop shop-cursor">
                    <div class="shop-header border-bottom">
                      <div class="shop-left">
                        <div class="shop-left-leading-time">Ngày giao {{order.deliveryDate | date:'dd/MM/yyyy'}}</div>
                      </div>
                      <div class="shop-right">
                        <p class="shop-right-tip"></p>
                        <div class="shop-right-status">{{order.status}}</div>
                        <div class="shop-right-action"></div>
                      </div>
                    </div>
                    <div class="shop-body">
                      <div class="order-item" *ngFor="let transaction of order.sellingTransactions" style="height:104px;">
                        <div class="item-pic" data-spm="detail_image">
                          <a href="#">
                            <img src="{{transaction.productDetail.imageUrl}}"/>
                          </a>
                        </div>
                        <div class="main-item main-item-mini" style="width: 280px; height: 74.2px;">
                          <div>
                            <div class="text title item-title" data-spm="details_title">{{transaction.productDetail.name}}</div>
                            <div class="item-sku" style="width:280px;height:36px;">&nbsp;</div>
                            <p class="text desc"></p>
                            <p class="text desc bold"></p>
                          </div>
                        </div>
                        <div class="item-status">
                          <div class="item-price text bold">{{transaction.price}}đ</div>
                        </div>
                        <div class="item-quantity">
                          <span class="text desc info multiply">Số lượng:</span>
                          <span class="text">{{transaction.quantity}}</span>
                        </div>
                        <div class="item-info"></div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

