<div class="login-box mx-auto">
  <form action="post" class="validate" id="login-form">
    <div class="login-logo">
      <a href="#">
        <h1 class="text-dark text-bol" style="font-family: Cambria;">ĐĂNG NHẬP</h1>
      </a>
    </div>
    <!--./ login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div>
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Tài khoản"
            [(ngModel)]="loginModel.username" (keypress)="enterEvent($event)">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3 ">
            <input type="password" name="password" class="form-control" placeholder="Mật khẩu"
              [(ngModel)]="loginModel.password" (keypress)="enterEvent($event)">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row justify-content-between">
              <button class="btn bg-white " (click)="signup()">
                Đăng ký
              </button>
              <button class="btn-success btn" (click)="login()">
                Đăng nhập
              </button>
          </div>
        </div>
      </div>
      <!-- ./card-body -->
    </div>
    <!-- ./card -->
  </form>
</div>
