<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/punhouse-slide1.png" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/punhouse-slide2.png" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/punhouse-slide3.png" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
    <!-- /.row -->
    <div class="container">
      <div class="content-header">
        <h2 class="font-weight-bolder" style="font-family: 'Times New Roman',serif;">&nbsp;&nbsp;Sản phẩm mới</h2>
      </div>
      <div class="content">
        <div class="row">
          <div *ngFor="let e of this.search.result" class="product-item col-3">
            <div class="image">
              <a href="/kinh-trang-tri-party-rainbow-cloud-p31084038.html">
                <img data-sizes="auto" class="lazyautosizes lazyloaded"
                     src="https://storage.googleapis.com/cdn.nhanh.vn/store/7534/ps/20210429/21042138_WH_thumb_450x450.JPG"
                     data-src="https://storage.googleapis.com/cdn.nhanh.vn/store/7534/ps/20210429/21042138_WH_thumb_450x450.JPG" sizes="200px">
              </a>
            </div>
            <div class="product-action d-flex align-center float-right">
              <button class="btn btn-success">Thêm vào giỏ hàng</button>
            </div>
            <h3 class="name">
              <a class="font-weight-bolder" style="color: black" href="/kinh-trang-tri-party-rainbow-cloud-p31084038.html">
                {{e.name}}
              </a>
            </h3>
            <div class="product-price">
              <span class="price">45.000đ</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->
