<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/pun-slide1.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/pun-slide2.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/slide/pun-slide3.jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
    <!-- /.row -->
    <div class="container">
      <div class="content-header">
        <h2 class="font-weight-bolder" style="font-family: 'Times New Roman',serif;">&nbsp;&nbsp;Sản phẩm mới</h2>
      </div>
      <div class="content">
        <div class="row">
          <div *ngFor="let e of this.search.result" class="product-item col-3">
            <div class="image">
              <a routerLink="/chi-tiet-san-pham/{{e.id}}">
                <img data-sizes="auto" class="lazyautosizes lazyloaded"
                     src="{{e.imageUrl}}"
                     data-src="{{e.imageUrl}}" sizes="200px">
              </a>
            </div>
            <h3 class="name">
              <a class="font-weight-bolder" style="color: black" routerLink="/chi-tiet-san-pham/{{e.id}}">
                {{e.name}}
              </a>
            </h3>
            <div class="product-price">
              <span class="price">{{e.sellingPrice | number}}đ</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->
