/* You can add global styles to this file, and also import other style files */
/* Setting */
html,
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 400;
}

/* Chrome, Safari, Edge, Opera */
input.adi-none-appearance::-webkit-outer-spin-button,
input.adi-none-appearance::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.adi-none-appearance[type=number] {
  -moz-appearance: textfield;
}

/* Utilities */
.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.invalid-feedback.d-block {
  padding-left: 0.25rem;
}

/* Background brand */
.adi-background,
.adi-background-guest {
  background: url('assets/img/background.jpg') no-repeat center center;
  background-size: cover;
}

.adi-background-guest {
  min-height: 100vh !important;
  height: 100%;
  position: relative;
}


/* Data table */
.table {
  border: 1px solid #dee2e6;
  white-space: nowrap;
}

.table td {
  line-height: 1.7rem;
}

/* Dropdown menu */
.dropdown .dropdown-toggle {
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 1;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu > * {
  line-height: 1.7rem;
  border-bottom: 1px solid #dee2e6;
}

.dropdown-menu > *:last-child {
  border: 0;
}

/* Wrapper coordinate list */
.adi-coordinate-list-wrapper {
  width: 100%;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Table  */
.table .btn {
  padding: 1px 6px;
}

@media screen and (max-width: 1199px) {
  html,
  body {
    font-size: 0.9rem;
  }
}

.main-sidebar, .navbar, .sidebar {
  background-color: pink !important
}

.nav-header {
  color: black !important
}

.content-wrapper {
  background: white;
}

.nav-link:hover {
  color: #F08A90
}

.nav-link {
  color: #DC747B;
}

.btn-pink {
  color: #fff;
  background-color: #ffb0bd;
}

.search {
  border: 2px solid #ffb0bd;
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
}

ul {
  list-style:none;
}

ul li a:hover{
  background: #F2C2CB;
}

ul li ul.dropdown{
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
}

ul li ul.dropdown li{
  display: block;
}

.product-item .image {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-item .image img {
  transform: scale(1);
  transition: all .3s;
  width: 100%;
  object-fit: scale-down;
  min-height: 190px;
}

.product-item .image img:hover {
  transform: scale(1.2);
  transition: all .3s;
}

img {
  max-width: 100%;
}

.product-item .name {
  line-height: 1.5;
  margin: 12px 0;
  font-size: 15px;
  min-height: 44px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

/*.product-action .wish {*/
/*  background: url('/tp/T0299/img/action.png') no-repeat -33px -4px;*/
/*  margin-right: 15px;*/
/*  position: relative;*/
/*  width: 28px;*/
/*  height: 25px;*/
/*  margin-top: 3px;*/
/*}*/

.product-action div {
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
}

.product-action .js-add-cart {
  margin-left: 15px;
  background: url('/assets/img/icon/action.png') no-repeat 0 0;
  width: 23px;
  height: 29px;
}

/* Bắt đầu chỉnh sửa cho slider */
.filter-title {
  font-size: 20px;
  color: #ffb0bd;
  border-bottom: 1px solid #ffb0bd;
  font-family: 'Nunito-Bold';
  margin-bottom: 15px;
  padding: 0 0 8px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.filter-title h3{
  font-size:19px;
  margin:0;
}

.filter-title i{
  font-size:16px;
}

.filter-title[aria-expanded=true] .fas:before{
  content:"\f068";
}

.filter-groups {
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
}

.js-fil-bar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:51;
  padding:2% 24% 2% 2%;
  transition:all .45s;
  transform:translateX(-100%);
}

.js-fil-bar.open{
  transition:all .45s;
  transform:translateX(0);
}

.js-fil-bar:before,.js-fil-bar:after{
  content:'';
  position:absolute;
  top:0;
  height:100%;
  z-index:1;
}

.js-fil-bar:before{
  left:0;
  width:80%;
  background:#fff;
}

.js-fil-bar:after{
  right:0;
  width:20%;
  background:rgba(0,0,0,.87);
}

.blk-pview-content{
  padding:15px
}

.blk-price .product-price{
  font-size:34px
}

.full {
  width: 100%;
}

.d-pro-head {
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: space-between;
  align-items: end;
}

.clearfix::after{
  display:block;
  clear:both;
  content:""
}

.d-pro-head h1{
  min-width:80%
}

.d-pro-head select{
  max-width:150px;
  height:32px;
  line-height:32px;
  font-size:14px
}

.show>.btn-outline-pink.dropdown-toggle{
  color:#fff;
  background-color:#ffb0bd;
  border-color:#ffb0bd
}

/*.filter-nav {*/
/*  border: 1px solid #eee;*/
/*  max-height: 350px;*/
/*  overflow-y: auto;*/
/*}*/

/*.sty-none ul, .sty-none ol {*/
/*  padding-left: 0;*/
/*}*/

/*.sty-none ul, .sty-none ol, .sty-none li {*/
/*  list-style: none;*/
/*  margin-bottom: 0;*/
/*}*/

.filter-nav{
  border:1px solid #eee;
  max-height:350px;
  overflow-y:auto
}

.filter-nav::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  border-radius:10px;
  background-color:#f5f5f5
}

.filter-nav::-webkit-scrollbar{
  width:8px;
  background-color:#f5f5f5
}

.filter-nav::-webkit-scrollbar-thumb{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#555
}

.filter-nav li{
  position:relative;
  border-bottom:1px solid #eee
}

.filter-nav li a{
  color:#333;
  width:100%;
  display:inline-block;
  font-size:16px;
  padding:5px 30px 5px 10px
}

.filter-nav li a:hover,.filter-nav li.active>a{
  color:#ffb0bd
}

.filter-nav li .drop{
  position:absolute;
  right:0;
  top:0;
  width:25px;
  height:35px;
  font-size:23px;
  cursor:pointer
}

.filter-nav li ul li{
  border-top:1px solid #eee;
  border-bottom:none;
  padding-left:20px
}

.filter-nav li ul li a{
  padding:5px 0
}

.blk-pro-cat h1 {
  font-size: 20px;
  color: #ffb0bd;
  border-bottom: 1px solid #ffb0bd;
  font-weight: 400;
  font-family: 'Nunito-Bold';
  margin-bottom: 20px;
  padding-bottom: 5px;
}
