/* You can add global styles to this file, and also import other style files */
/* Setting */
html,
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 400;
}

/* Chrome, Safari, Edge, Opera */
input.adi-none-appearance::-webkit-outer-spin-button,
input.adi-none-appearance::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.adi-none-appearance[type=number] {
  -moz-appearance: textfield;
}

/* Utilities */
.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.invalid-feedback.d-block {
  padding-left: 0.25rem;
}

/* Background brand */
.adi-background,
.adi-background-guest {
  background: url('assets/img/background.jpg') no-repeat center center;
  background-size: cover;
}

.adi-background-guest {
  min-height: 100vh !important;
  height: 100%;
  position: relative;
}


/* Data table */
.table {
  border: 1px solid #dee2e6;
  white-space: nowrap;
}

.table td {
  line-height: 1.7rem;
}

/* Dropdown menu */
.dropdown .dropdown-toggle {
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 1;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu > * {
  line-height: 1.7rem;
  border-bottom: 1px solid #dee2e6;
}

.dropdown-menu > *:last-child {
  border: 0;
}

/* Wrapper coordinate list */
.adi-coordinate-list-wrapper {
  width: 100%;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Table  */
.table .btn {
  padding: 1px 6px;
}

@media screen and (max-width: 1199px) {
  html,
  body {
    font-size: 0.9rem;
  }
}

.main-sidebar, .navbar, .sidebar {
  background-color: pink !important
}

.nav-header {
  color: black !important
}

.content-wrapper {
  background: white;
}

.nav-link:hover {
  color: #F08A90
}

.nav-link {
  color: #DC747B;
}

.btn-pink {
  color: #fff;
  background-color: #ffb0bd;
}

.search {
  border: 2px solid #ffb0bd;
  border-radius: 8px;
  overflow: hidden;
  width: 40%;
}

ul {
  list-style:none;
}

ul li a:hover{
  background: #F2C2CB;
}

ul li ul.dropdown{
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
}

ul li ul.dropdown li{
  display: block;
}

.product-item .image {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-item .image img {
  transform: scale(1);
  transition: all .3s;
  width: 100%;
  object-fit: scale-down;
  min-height: 190px;
}

.product-item .image img:hover {
  transform: scale(1.2);
  transition: all .3s;
}

img {
  max-width: 100%;
}

.product-item .name {
  line-height: 1.5;
  margin: 12px 0;
  font-size: 15px;
  min-height: 44px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

/*.product-action .wish {*/
/*  background: url('/tp/T0299/img/action.png') no-repeat -33px -4px;*/
/*  margin-right: 15px;*/
/*  position: relative;*/
/*  width: 28px;*/
/*  height: 25px;*/
/*  margin-top: 3px;*/
/*}*/

.product-action div {
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
}

.product-action .js-add-cart {
  margin-left: 15px;
  background: url('/assets/img/icon/action.png') no-repeat 0 0;
  width: 23px;
  height: 29px;
}

.blk-pview-img {
  margin-bottom: 20px;
}

.blk-code .title {
  font-size: 35px;
  letter-spacing: 0;
  margin-bottom: 5px;
  line-height: 1.4;
  font-weight: 900;
}

.blk-code .code {
  font-size: 15px;
  color: #9d9d9d;
  clear: both;
  display: block;
  width: 100%;
}

.blk-price {
  margin-bottom: 20px;
}

.blk-code {
  display: inline-flex;
  flex-wrap: wrap;
  width: 86%;
  margin-bottom: 20px;
}

.blk-price .product-price {
  font-size: 30px;
  font-weight: 700;
}

.blk-att .r-at-r {
  width: 100%;
  clear: both;
  margin-bottom: 25px;
}

.blk-att .r-at-r label {
  margin: 0 15px 0 0;
  font-size: 18px;
  min-width: 85px;
  font-weight: 400;
}

.pull-left {
  float: left;
}

.blk-qty {
  margin-left: 5px;
  border: 1px solid #d0d0d0;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.blk-qty .blk-qty-btn {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Nunito-Bold', serif;
}

.blk-qty .blk-qty-input {
  color: #000;
  font-size: 14px;
  width: 50px;
  min-height: 30px;
  border: none;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  text-align: center;
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-js-add-cart#addToCart {
  margin-right: 1%;
}

.btn-js-add-cart {
  cursor: pointer;
  width: 49%;
  padding: .6rem 1rem;
  text-transform: uppercase;
}

.btn-pink {
  color: #fff;
  background-color: #ffb0bd;
  border-color: #ffb0bd;
  border-radius: .35rem;
}

.blk-policy {
  border-top: 2px solid #b7b7b7;
  padding-top: 15px;
  margin-top: 15px;
  display: inline-block;
}

/* Bắt đầu chỉnh sửa cho slider */
.filter-title {
  font-size: 20px;
  color: #ffb0bd;
  border-bottom: 1px solid #ffb0bd;
  font-family: 'Nunito-Bold';
  margin-bottom: 15px;
  padding: 0 0 8px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.filter-title h3{
  font-size:19px;
  margin:0;
}

.filter-title i{
  font-size:16px;
}

.filter-title[aria-expanded=true] .fas:before{
  content:"\f068";
}

.filter-groups {
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
}

.js-fil-bar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:51;
  padding:2% 24% 2% 2%;
  transition:all .45s;
  transform:translateX(-100%);
}

.js-fil-bar.open{
  transition:all .45s;
  transform:translateX(0);
}

.js-fil-bar:before,.js-fil-bar:after{
  content:'';
  position:absolute;
  top:0;
  height:100%;
  z-index:1;
}

.js-fil-bar:before{
  left:0;
  width:80%;
  background:#fff;
}

.js-fil-bar:after{
  right:0;
  width:20%;
  background:rgba(0,0,0,.87);
}

.blk-pview-content{
  padding:15px
}

.blk-price .product-price{
  font-size:34px
}

.full {
  width: 100%;
}

.blk-policy .row {
  margin-left: -5px;
  margin-right: -5px;
}

.blk-policy .item[data-label="shipping"] {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 15px;
}

.blk-policy .item[data-label="shipping"] {
  background: url('assets/img/icon/icon_ship.png') left center no-repeat;
}

.blk-policy .item {
  margin-top: 0;
  padding: 0 0 0 35px;
  line-height: 1.3;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Nunito-Bold', sans-serif;
}

.blk-policy .item[data-label="cod"] {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  padding-right: 15px;
}

.blk-policy .item[data-label="cod"] {
  background: url('assets/img/icon/icon_cod.png') left center no-repeat;
}

.blk-policy .item[data-label="24h"] {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.blk-policy .item[data-label="24h"] {
  background: url('assets/img/icon/icon_doi tra.png') left center no-repeat;
}

.br-t-0 {
  border-top: none !important;
}

.mt-0, .my-0 {
  margin-top: 0 !important;
}

.blk-policy .item[data-label="ship_policy"] {
  display: block !important;
  background: url('assets/img/icon/icon_policy.png') left center no-repeat;
  color: #1d2129;
}

/* CART */
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-dismissible {
  padding-right: 4rem;
}

.fade {
  transition: opacity .15s linear;
}

.cart-page {
  margin: 25px 0 35px;
}

.table-cart {
  position: relative;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.cart-item:last-child {
  border-radius: 0 0 10px 10px;
}

.cart-item {
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}

.table-cart tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.table-cart tr td {
  border-top: 1px solid #ccc;
}

.table td, .table th {
  padding: .5rem;
  vertical-align: middle;
}

.fa-pink {
  color: #ffb0bd;
}
.fa-1x5 {
  font-size: 1.5em;
}

.cart-item .cart-img img {
  width: 100%;
  height: 100px;
  object-fit: scale-down;
  margin-left: 5px;
}

.cart-item a {
  color: #2f2f2f;
  background-color: transparent;
}

.cart-item a:hover {
  color: #ffb0bd;
}

.cart-item .blk-qty {
  border: none;
}

.cart-item .blk-qty .blk-qty-btn {
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.cart-item .blk-qty .blk-qty-input {
  border: none;
}

.note p {
  margin: 0;
}

.cart-total .total {
  color: #ffb0bd;
  font-size: 24px;
  font-weight: 900;
  margin: 15px 0;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .5rem 1.5rem;
  font-size: 1.1rem;
}

.btn-radius {
  border-radius: 50px;
}

.btn-outline-pink {
  color: #ffb0bd;
  background-color: transparent;
  background-image: none;
  border-color: #ffb0bd;
}

.btn-outline-pink:hover {
  color: #fff;
  background-color: #ffb0bd;
  border-color: #ffb0bd;
  text-decoration: none;
}

.badge-success {
  background-color: #e56266;
}

.d-pro-head {
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: space-between;
  align-items: end;
}

.clearfix::after{
  display:block;
  clear:both;
  content:""
}

.d-pro-head h1{
  min-width:80%
}

.d-pro-head select{
  max-width:150px;
  height:32px;
  line-height:32px;
  font-size:14px
}

.show>.btn-outline-pink.dropdown-toggle{
  color:#fff;
  background-color:#ffb0bd;
  border-color:#ffb0bd
}

/*.filter-nav {*/
/*  border: 1px solid #eee;*/
/*  max-height: 350px;*/
/*  overflow-y: auto;*/
/*}*/

/*.sty-none ul, .sty-none ol {*/
/*  padding-left: 0;*/
/*}*/

/*.sty-none ul, .sty-none ol, .sty-none li {*/
/*  list-style: none;*/
/*  margin-bottom: 0;*/
/*}*/

.filter-nav{
  border:1px solid #eee;
  max-height:350px;
  overflow-y:auto
}

.filter-nav::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  border-radius:10px;
  background-color:#f5f5f5
}

.filter-nav::-webkit-scrollbar{
  width:8px;
  background-color:#f5f5f5
}

.filter-nav::-webkit-scrollbar-thumb{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#555
}

.filter-nav li{
  position:relative;
  border-bottom:1px solid #eee;
  width:100%;
}

.filter-nav li a{
  color:#333;
  width:100%;
  display:inline-block;
  font-size:16px;
  padding:5px 30px 5px 10px
}

.filter-nav li a:hover,.filter-nav li.active>a{
  color:white;
}

.filter-nav li .drop{
  position:absolute;
  right:0;
  top:0;
  width:25px;
  height:35px;
  font-size:23px;
  cursor:pointer
}

.filter-nav li ul li{
  border-top:1px solid #eee;
  border-bottom:none;
  padding-left:20px
}

.filter-nav li ul li a{
  padding:5px 0
}

.blk-pro-cat h1 {
  font-size: 20px;
  color: #ffb0bd;
  border-bottom: 1px solid #ffb0bd;
  font-weight: 400;
  font-family: 'Nunito-Bold';
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.cardTextBox {
  display: inline-block;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  margin-top: 6px;
  margin-right: 6px;
  padding: 8px;
  color: #616161;
}

.ngx-pagination .current {
  background: #ffb0bd !important;
}
.order-no-data {
  height: 239px;
  width: 100%;
  padding-top: 80px;
  text-align: center;
}

.order-no-data-text {
  font-size: 14px;
  color: #757575;
  margin-bottom: 27px;
}

.order-no-data-btn {
  border: 1px solid #ffb0bd;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
}

.order-no-data-btn-text {
  color: #ffb0bd;
}

.order-paid h2{
  color: #ff72db;
}

.order-list .order-list-tabs .order-tab-item-active, .order-list .order-list-tabs .order-tab-item:hover {
  border-bottom: 4px solid #003e52;
}

.order-list .order-list-tabs .order-tab-item {
  display: inline-block;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  padding: 0 20px;
}

.shop-cursor {
  cursor: pointer;
}

.shop {
  margin-bottom: 12px;
  padding-bottom: 24px;
  background-color: #fff;
}

.shop .shop-header, .shop .shop-header .shop-left {
  display: flex;
  align-items: center;
}

.shop .shop-header {
  position: relative;
  justify-content: space-between;
  height: 56px;
  padding: 0 12px;
}

.shop .shop-header .shop-left .shop-left-leading-time {
  margin-left: 12px;
  font-size: 14px;
}

.shop .shop-header .shop-right {
  display: flex;
  align-items: center;
}

.shop .shop-header .shop-right .shop-right-tips {
  margin-right: 12px;
  font-size: 12px;
  color: #757575;
}

.shop .shop-header .shop-right .shop-right-status {
  color: #333;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 100px;
}

.shop .shop-header .shop-right .shop-right-action {
  margin-left: 12px;
  color: #f57224;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.lzd-playground {
  width: 100%;
  min-width: 1188px;
  min-height: 474px;
  position: relative;
  padding-bottom: 40px;
}



.order-item {
  min-height: 80px;
  padding: 24px 12px 0 36px;
  width: 916px;
}

.order-item .item-main-mini {
  width: 280px !important;
}

.order-item .item-main {
  float: left !important;
  width: 360px !important;
  margin-left: 12px !important;
  margin-right: 24px !important;
}

.order-item .item-sku, .order-item .item-title {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

.text.title {
  font-size: 14px !important;
  margin-bottom: 3px !important;
}

.text {
  color: #212121 !important;
  word-break: break-word !important;
}

.text.desc {
  font-size: 12px !important;
}

.text.bold {
  font-weight: 500 !important;
}

.order-item .item-quantity .multiply {
  font-size: 14px;
  color: #757575;
}

.info {
  margin-top: 6px;
}

.text.info {
  color: #757575;
}

.text.multiply {
  color: #c9c9c9;
}

.order-item .item-status {
  float: left;
  min-height: 80px;
  text-align: left;
}

.order-item .item-price {
  margin-bottom: 4px;
  width: 180px;
}

.order-item .item-quantity {
  font-size: 14px;
  float: left;
  width: 64px;
  min-height: 80px;
  text-align: left;
}

.clear {
  clear: both;
}

.order-item .item-info {
  float: right;
  min-height: 80px;
  text-align: right;
  max-width: 204px;
}

.order-item .item-pic {
  float: left;
}

.order-item .item-pic img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url(https://laz-img-cdn.alicdn.com/imgextra/i4/O1CN01tcPWxH1emesBtwcAg_!!6000000003914-2-tps-243-243.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
}

.lzd-playground-right {
  position: relative;
  margin-left: 100px;
}

.lzd-playground-right .breadcrumb {
  height: 60px;
  line-height: 60px;
  font-size: 13px;
  background: #ffffff;
  letter-spacing: .09px;
}

.lzd-playground-right .breadcrumb a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: #424242;
}

.lzd-playground-right .container {
  width: 988px;
}

.order-list {
  width: 988px;
}

.order-list .order-list-tabs {
  height: 28px;
  border-bottom: 2px solid #979797;
  margin-bottom: 13px;
  cursor: pointer;
}

.lzd-playground-main {
  position: relative;
  width: 1188px;
  min-width: 1188px;
  margin: 0 auto;
}

.order-item .item-sku {
  margin-top: 6px;
  font-size: 14px;
  color: #bbb;
  line-height: 18px;
}



